body {
    background-color: rgb(51, 95, 182);
}

div {
    color: white;
}

.ue {
  margin: 10px;
}

.container_large {
    height: 100px;
    display: flex;
    background-color: rgb(57, 57, 87);
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.container_slim {
    height: 10px;
    display: flex;
    background-color: red;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.red_slim {
    justify-self: flex-end;
    display: flex;
}

.blue_slim {
    background-color: rgb(57, 57, 87);
    width: 100px;
    justify-self: flex-end;
    display: flex;
}
.red_large {
    width: 100px;
    background-color: red;
    justify-self: flex-end;
    display: flex;
}

.blue_large {
    justify-self: flex-start;
    display: flex;
}


OR
body {
    background-color: rgb(51, 95, 182);
}

div {
    color: white;
}

.ue {
  margin: 10px;
}

.container_large {
    aspect-ratio: 12 / 1;
    width: 100%;
    display: flex;
    background-color: rgb(57, 57, 87);
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.red_large {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: red;
    display: block;
}

.blue_large {
}